<ion-tabs>
    <ion-tab tab="chatsPage">Chats</ion-tab>
    <ion-tab tab="buddiesPage">Buddies</ion-tab>
    <ion-tab tab="mePage">me</ion-tab>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="chatsPage">
            <ion-label>Chat</ion-label>
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="buddiesPage">
            <ion-label>Buddies</ion-label>
            <ion-icon name="settings"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="mePage">
            <ion-label>Me</ion-label>
            <ion-icon name="contact"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
